.mode-revealing {
    cursor: zoom-in;
}

.distinguished {
    color: firebrick;
}

.padding {
    color: darkgrey;
}

.distinguished .padding {
    color: #ce777a;
}

.centre-content {
    display: flex;
    justify-content: center;
}

.arcade-button {
    border-color: transparent;
    background: transparent;
}
.arcade-button:hover {
    border-color: transparent;
    background: transparent;
    transform: scale(1.1);
}
.arcade-button:focus {
    outline: none!important;
    border-color: transparent!important;
    background: transparent!important;
    box-shadow: none;
}
.arcade-button.active {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}
.arcade-button.active:hover {
    border-color: transparent;
    background: transparent;
}

.leaderboard-gen-button,
.leaderboard-gen-button:focus
{
    color: #9b9b9b;
}
.leaderboard-gen-button.active {
    /*color: #417505;*/
    color: black;
}

.score-main {
    font-size: 34px;
}

.score-leaderboard {
    display: inline;
}

.carousel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 96px;  /* height of poké at zoom level 1 */
    overflow: hidden;
}

.guess-input {
    border: none;
    box-shadow: none;
}

.guess-input:focus {
    box-shadow: none;
}

.guess-input[disabled] {
    background-color: white;
}

.time-remaining {
    margin: 0 auto;
    font-size: 72px;
}

.guess-history-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.guess-history-element canvas {
    transform: scale(0.5);
    margin: -25% 0;
}

.initials-input {
}

.initials-input-input {
    position: relative;
    font-size: 92px;
}

.initials-input .faded {
    color: darkgrey;
}

.initials-input input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    99% { opacity: 1; }
}