.mode-revealing {
    cursor: zoom-in;
}

.distinguished {
    color: firebrick;
}

.padding {
    color: darkgrey;
}

.distinguished .padding {
    color: #ce777a;
}

.centre-content {
    display: flex;
    justify-content: center;
}

.score-main {
    font-size: 34px;
}

.score-leaderboard {
    display: inline;
}

.carousel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 96px;  /* height of poké at zoom level 1 */
    overflow: hidden;
}

.time-remaining {
    margin: 0 auto;
    font-size: 72px;
}

.guess-history-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.guess-history-element canvas {
    transform: scale(0.5);
    margin: -25% 0;
}
